.content {
  position: relative;
}

.latest {
  margin-bottom: 2rem;
}
.latest-group {
  margin-top: 0.8rem;
}

.img-all {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.content-title {
  padding-bottom: 0.5rem;
}

.all {
  padding-bottom: 1rem;
}

.img-all img {
  max-width: 400px;
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.grid-img:hover img {
  filter: grayscale(1);
}

.img-all:hover img {
  filter: grayscale(0);
}

.img-all:hover .caption {
  opacity: 1;
}

.img-all img:hover {
  transform: scale(1.05);
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-size: 16px;
  color: white;
  opacity: 0;
  transition: 0.3s;
}

.caption-album {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-size: 16px;
  color: white;
  opacity: 1;
  transition: 0.3s;
}

.top-5 {
  margin-top: 1em;
}

.img-container img {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.album-detail {
  width: 1000px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: color-burn;
  margin-bottom: 2rem;
  color: white;
  border-radius: 10px;
  position: relative;
}

.album-detail h1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
}
