.content {
  position: relative;
}

.latest {
  margin-bottom: 2rem;
}
.latest-group {
  margin-top: 0.8rem;
}

.img-all {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.content-title {
  padding-bottom: 0.5rem;
}

.all {
  padding-bottom: 1rem;
}

.caro-item img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  display: block;
  transition: all 0.3s ease-in-out;
  border-radius: 10px !important;
}

.caro-item .caption {
  opacity: 1;
}

.img-all img {
  width: 100%;
  height: 300px !important;
  object-fit: cover;
  display: block;
  transition: all 0.3s ease-in-out;
  border-radius: 10px !important;
}

.grid-img:hover img {
  filter: grayscale(1);
}

.img-all:hover img {
  filter: grayscale(0);
}

.img-all:hover .caption {
  opacity: 1;
}

.img-all:hover img {
  transform: scale(1.05);
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 15px 15px;
  width: 100%;
  font-size: 16px;
  color: white;
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
}

.top-5 {
  margin-top: 1em;
}

.img-container img {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
