@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  animation: fade-in 0.5s ease-in-out;
  font-family: 'Nunito Sans', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  /* Reference colors */
  --blue-pantone: #3326ae;
  --red-ryb: #ff392bff;
  --ghost-white: #f7f8ffff;
  --space-cadet: #2b2b4cff;
  --amber: #ffc005ff;
  /* Custom colors*/
  --white: #fff;
  --white-transparent: #ffffff66;
  --space-cadet-transparent: #2b2b4cbb;
  --placeholder: #cbcde4;
  --ghost-white-text: #c3c6deff;
  /* Tweet buttons */
  --video: var(--blue-pantone);
  --duration: #00c3f8;
  --likes: var(--red-ryb);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}
